* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* { border: 1px solid red; } */
.row {
  max-width: 100%;
  margin: 0 auto;
}

.box {
  padding: 1%;
}
:root {
  --primaryColor: #aa9627;
  --secondaryColor: #1dacff;
  --mainWhite: #fff;
  --offWhite: whitesmoke;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: rgb(80, 74, 74);
  --darkBrown:#2d170e;
  --lightBrown:#1d1815;
  --mainBrown: #2c2420;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals 
body {
  background: url("./images/Background-img.jpg" ) center/cover no-repeat;
  padding-top: 66px;
  line-height: 1.9;
}
*/

h1 {
  font-size: 3.5em;
  line-height: 1;
  margin-bottom: 0.5em;
  font-weight: 600;
}
h2 {
  font-size: 3.2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 2.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.btn-secondary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--secondaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--secondaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-secondary:hover {
  background: var(--primaryColor);
  color: var(--primaryColor);
}
.btn-secondary-col {
  margin-top: 1rem;
}
/* End of globals */


/* App.js Page CSS */
.header-color {
  background: #8E0E00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-position: center; 
  background-attachment: fixed;


}/* Navbar */
.navbar {
  background: #8E0E00;  
  background-size: cover;
  background-position: center; 
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.nav-center { 
padding-top: 2rem;
}
 
.nav-header {
  display: flex;
  justify-content: space-between;
}

.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 2.5rem;
  color: var(--primaryColor);
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--offWhite);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
  
}

.nav-links a:hover {
  color: var(--primaryColor);
}

.show-nav {
  height: 100px;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}
/* end of navbar */


/*---------------------
  Banner-social-icons
-----------------------*/
.top-option {
	text-align: right;
  padding-bottom: 1rem;
  padding-right: 2rem;
}

.top-option .to-search {
	display: inline-block;
	padding-right: 20px;
	position: relative;
}

.top-option .to-search:after {
	position: absolute;
	right: 0;
	top: 5px;
	height: 15px;
	width: 1px;
	background: rgba(255, 255, 255, 0.3);
	content: "";
}

.top-option .to-search i {
	font-size: 16px;
	color: #ffffff;
	cursor: pointer;
}

.top-option .to-social {
	display: inline-block;
}

.top-option .to-social a {
	display: inline-block;
	color: #ffffff;
	font-size: 16px;
	margin-left: 15px;
}

/*---------------------
  Banner-social-icons
-----------------------*/

 /* Landing Page CSS */

 .landingpage {
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
 }
.landing-grid-col-1 { 
  background: url("./images/Background-img.jpg" ) center/cover no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  height: 620px;
  width: 100%;
  top: 0;
  left: 0;
  } 
/* End of Landing Page CSS */


/* Home Page CSS 
.home-grid-col-1 { 
  background: url("./images/Background-img.jpg" ) center/cover no-repeat;
  background-position: center;
  
  text-align: center;
  height: 650px;
  width: 100%;
  top: 0;
  left: 0;
  
  } 
/* End of Home Page CSS */

/* Content */
.defaultContent {
  background: url("./images/Background-img.jpg" ) center/cover no-repeat;
  min-height: calc(100vh - 66px);
  display: flex;
  align-items: center;
  justify-content: center;
  
}
/* End of Content */

/* Landing Page/Home Page banner*/
/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  
}
.banner h1 {
  font-size: 2.5rem;
  
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */


/* End of Landing Page/Home Page banner text */

/* Landing page-social-links */
.social-links {
  display: flex;
  justify-content: space-between;
  width: 45%;
  margin: auto;
  padding-top: 4em;
  color: #aa9627;
  font-size: 3em;
  padding: 1px;
}


/* Landing page-social-links */

/* Landing page-social-links */
.social-links {
  display: flex;
  justify-content: space-between;
  width: 45%;
  margin: auto;
  padding-top: 4em;
  color: #aa9627;
  font-size: 3em;
  padding: 1px;
}


/* Landing page-social-links */
/* Sociallinks page */
.socialLinks {
  background: transparent;
}
.socialLinks-center {
  width: 80vw;
  margin-bottom: 5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 2fr));
  grid-row-gap: 1rem;
  grid-column-gap: 0.5px;
  padding-left: 4em;  
}
.socialLinks span {
  color: var(--primaryColor);
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
/* End of Sociallinks page */



/* Title */
.title {
  text-align: center;
  margin-bottom: 4rem;
  font-family:  'lato';
  color: whitesmoke; 
}
.title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}
/* end of Title */

/* featured projects */
.deployed-projects {
  padding: 5rem 0; 
  
 
}

.deployed-projects-center {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
  
}
@media screen and (min-width: 776px) {
  .deployed-projects-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .deployed-projects-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of deployed-projects */

/* displayed-projects */
.displayed-projects {
  padding: 3rem 0;
  
   
}
.displayed-projects-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
  
}
@media screen and (min-width: 776px) {
  .displayed-projects-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .displayed-projects-center {
    width: 95vw;
    max-width: 1170px;
  }
}
 /* displayed-projects */

/* showcase */
.showcase-bgd {
  border-top: #222 solid;
  background-color: #222;
  border-bottom: #222 solid;
  padding-top: 15rem;
}

.showcase {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  
  
}
.showcase:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}
.showcase-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .showcase-link {
  transform: translate(-50%, -50%) scale(1);
}
.showcase-info {
  background: var(--darkGrey);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
/* end of showcase */

/* display*/
.display {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  
}
.display:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}
.display-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .display-link {
  transform: translate(-50%, -50%) scale(1);
}
.display-info {
  background: var(--darkGrey);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
/* end of display */

/* detail */
.detail {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.detail:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}
.detail-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .detail-link {
  transform: translate(-50%, -50%) scale(1);
}
.detail-info {
  background: var(--darkGrey);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
/* end of detail  */


/* project */

.project {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  
}
.project:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}
.project-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .project-link {
  transform: translate(-50%, -50%) scale(1);
}
.project-info {
  background: var(--darkGrey);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
/* end of poject  */

/* single display */ 
.single-display {
  padding: 5rem 0 0 0;
  
}
.single-display-folder  {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
  margin: 0 auto 5rem auto
}
.single-display-folder img {
  width: 100%;
  display: block;  
}
.single-display-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto 3rem auto;
}
.desc,
.info {
  margin: 1rem 0;
  
}
.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.desc p {
  line-height: 1.5;
}
.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  
  
}
.info h6 {
  font-weight: 25px;
  
  
}
.info h5 {
  font-weight: 400;
  
}

.singledisplay-col {
  width: 80vw;
  margin: 0 auto 3rem auto;
  
}
.singledisplay-col h5 {
  letter-spacing: var(--mainSpacing);
  margin: 0 auto 3rem auto;
}
.singledisplay-button-col {
  display: inline-block;
  padding: 0.5rem 43rem;
  color: #1dacff;
  margin: 0 auto 3rem auto;
}
.offers {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  margin: 0 auto 5rem auto;
}
.offers i {
  padding-right: 1em;
  color: #1dacff;
  
}

.extra-info {
  width: 80vw;
  margin: 0 auto 3rem auto;
  font-size: '20px';
}
.extra-info h5 {
  
  letter-spacing: var(--mainSpacing);
}

.extras i {
  padding-right: 1em;
  color: #1dacff;
  font-size: '20px';
}
.extra-col {
  padding: 4rem 0;
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  color: #151515;
}

@media screen and (min-width: 992px) {
  .singledisplay-folder,
  .singledisplays-info,
  .offers,
  .extras {
    width: 95vw;
    max-width: 1170px;
  }
.singledisplay-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  }
.info {
  padding-left: 3rem;
  }
}
/* end of single display*/




/* displaylist */
.displaylist {
  padding: 5rem 0;
  
  
  
}
.displaylist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
  
}

@media screen and (min-width: 776px) {
  .displaydlist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .displaylist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of displaylist */

/* showcaselist */
.showcaselist {
  padding: 3rem 0;
  

}

.showcaselist-center { 
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}

@media screen and (min-width: 776px) {
  .showcasedlist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .showcasedlist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of showcaselist */


/* Loading page */
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
/* End of Loading page */

/* Error page */
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
/* End of Error page */

 /* Services */
  .services {
    padding: 5rem 0;
    
  }
  .services {
    text-align: center;
    background: #222;
    border-bottom: #222 solid;
  }
  .services-center {
    width: 90vw;
    color: whitesmoke;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-row-gap: 3rem;
    grid-column-gap: 50px;
    
    
  }
  .services span {
    display: inline-block;
    color: var(--primaryColor);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .services h6 {
    letter-spacing: var(--mainSpacing);
  }
  .services p {
    width: 80%;
    margin: 0 auto;
  }
  @media screen and (min-width: 992px) {
    .services-center {
      width: 95vw;
      max-width: 1170px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .services p {
      width: 100%;
    
    }
    
  }
  /*end of Services */
  
  /* List-of-projects */
  .projects-col {
    height: 70px;
    background: #555555;
  }
  .listofprojects {
    padding: 5rem 0;
    
  }
  .listofprojects {
    text-align: center;
    background: #333333;
    
  }
  .listofprojects-center {
    width: 90vw;
    color: whitesmoke;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-row-gap: 3rem;
    grid-column-gap: 50px;
    
    
  }
  .listofprojects span {
    display: inline-block;
    color: var(--primaryColor);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .listofprojects h6 {
    letter-spacing: var(--mainSpacing);
  }
  .listofprojects p {
    width: 80%;
    margin: 0 auto;
  }
  @media screen and (min-width: 992px) {
    .listofprojects-center {
      width: 95vw;
      max-width: 1170px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .listofprojects p {
      width: 100%;
    
    }
    
  }
  /*end of list-of-projects 
  

.row-col {
  text-align: center;
}
.listofprojects-col i {
  color: #aa9627;
  font-family: 'lato';
  
}
*/
/* End of ListofProjecs.js 



/* End of ListofProjecs.js */

/* Projects.js page */
.projects-grid {
  padding-top: 4rem;
}

.category-tab {
  background: #8E0E00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  margin: auto;
  position: fixed;
  justify-content: center;
  padding-top: 11em;
  width: 100%;
  border-top-color: 'transparent'; 
  
}
.project-text {
  background: #8E0E00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  position: fixed;
  width: 100%; 
  height: 500px;
  font-size: 130%;
}


/*...................................*/
/* CONTACT-FORM */
/*...................................*/
.section-form {
  background: #333333;
  border-bottom: #333333 solid;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
  width: 100%;
  top: 0;
  left: 0;
  
}
.contact-form {
  width: 60%;
  margin: 0 auto;      
}

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px; 
  border: 1px solid #ccc;
}
  
textarea {
  height: 100px;
}

input[type=checkbox] {
  margin: 20px 10px 20px 0;
  color:#aa9627;
}

*:focus{outline: none;
  
}
.row {
  font-family: 'lato';
  font-size: 18px;
  color: whitesmoke;
}
 
.input-text {
  font-size: 15px;
}
.footer-row {
  width: 100%; 
  height: 350px;

}

.footer-social-icon a {
  display: inline-block;
	font-size: 16px;
  margin-left: 4px;
  padding-right: 2rem;
  

  
}
.footer-social-icon i {
  font-size: 25px;
}

.footer-col {
  padding-top: 6rem;
}

.footer-text {
  margin-bottom: 2rem;
  
}
/*.footer-bottom {
  height: 20px
  ;
}
*/


 

